/*Estilos de toda la pagina*/
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Estilo del header*/
header{
    background-color:#000000;
    color: #ffffff;    
    display: flex;
    flex-direction:row;
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
}
header div{
    height: 150px;
}
header > img{
    width: 150px;
}
header h1{
    font-size:5em;
    margin: 0;
}
header h2{
    margin: 0;
}
li{
    position: relative;
    display: inline-block ;
}