header, footer, nav{
    background-color: black;
    color:white;
    border-bottom:black solid 1px;
}
.nav-item:hover{
    background-color: #ff4400;
}

#logo_orange{
    width: 80%;
    display: flexbox;
}
body{
    background-image: url(../img/fondo-white.jpg);
    background-position: inherit;
    background-repeat: none ;
}
.container{
    padding: 0%;
}
ul{
    width: 16.6%;
    text-align: center;
}
.btn{
    background-color: #ff4400;
    color: white;
    width: 150px;
}
#search-signUp{
    display:inline-table;
    align-items:flex-end;
}
.rounded-pill{
    margin: 10px;
}






